---
---
// Setup

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/inter-variable.woff2') format('woff2');
}

@import "vars";
@import "base";
@import "utils";

// Blocks
// @import "button";
// @import "card";
// @import "contentBlock";
// @import "form";
@import "logo";

// Properties
// @import "aos";
@import "bg";
// @import "layout";
@import "max-width";
// @import "padding";
// @import "typography";
@import "md";

// Sections
@import "header";
// @import "section";
@import "footer";
