<!DOCTYPE html>
<html lang="en-US">
    {% include head.liquid %}
    <body>
        {% include sections/header.liquid %}

        <main id="main" tabindex="-1">
            {{ content }}
            {% if page.document %}
                <section>
                    <div class="md max-width-tablet-portrait">
                        {{ page.document | markdownify }}
                    </div>
                </section>
            {% endif %}
        </main>

        {% include sections/footer.liquid %}
        {% include svg.liquid %}
        {% include scripts.liquid %}
    </body>
</html>
