---
# layout: compress
---
{% assign pageData = site.data.global %}
<!DOCTYPE html{% if pageData.htmlClass %} class="{{ pageData.htmlClass }}"{% endif %}>
<html lang="en-us">
    {% include head.liquid %}
    <body>
        {% include sections/header.liquid %}
        <main id="main">
            {% if page.document %}
                <section class="md">
                    {{ page.document | markdownify }}
                </section>
            {% endif %}
            {{ content }}
        </main>
        {% include sections/footer.liquid %}
        {% include sections/scripts.liquid %}
  </body>
</html>
