.sr-only,
.is-visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

#svg {
  top: 0;
  left: 0;
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: -1;
}

.fill-logotype {
    fill: #716b7f;
    fill: #706d7a;
}

.fill-accent-1 {
    fill: #fb2f8a;
}

.fill-accent-2 {
    fill: #12bcff;
}

.t-has-inline-links {
    &, * {
        display: inline;
    }

    ul {
        li {
            display: inline-block;
            position: relative;

            a {
                text-decoration: none;
                display: inline-block;
                // outline: 1px solid yellow;
                padding: 12px;

                &:hover {
                    text-decoration: underline;
                    color: #fff;
                }
            }

            &:first-child {
                a {
                    padding-left: 8px;
                }
            }

            & + li {
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 1px;
                    height: 16px;
                    background: rgba(255,255,255,0.5);
                    top: 50%;
                    left: -2px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}